@charset "UTF-8";
/* CSS Document */
#wrapper { position: relative; height:100%; width:100%;}
#sidebar {
    float:left;
    height:100%;
    position:fixed;
    background-color:#000;
	color:#FFF;
    width:200px;
    display:block;
	margin-left: -250px;
	opacity:0.8;
	
}
#inputform  {
    height:220px;
    position:fixed;
	right: 0;
    background-color:#FFF;
	color:#000;
    width:600px;
    display:block;
	margin-top:-300px;
	margin-right:50px;
	border: 2px groove threedface;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */

}
#inputform1  {
    height:220px;
    position:fixed;
	right: 0;
    background-color:#FFF;
	color:#000;
    width:600px;
    display:block;
	margin-right:50px;
	border: 2px groove threedface;
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */

}
#tableform {
	max-width:600px;
	
}
#tableform td{
	max-width:200px;
}
#tableform input {
	max-width:100px;	
}
.in {
	margin-left: 0px !important;
	transition: all 1s ease-in-out;
}
.in2 {
	margin-top:100px !important;
	transition: all 1s ease-in-out;
}
.out {
	margin-left:-250px !important;
	transition: all 1s ease-in-out;	
}
#over_map { 
	position: absolute; 
	top: 10px; 
	left: 10px; 
	z-index: 99; 
	}
	
	#map-canvas {
   min-height:100%;
	 
}
#add {
	height:40px;
	width:100px;
	position:absolute;
	right:10px;
	bottom:20px;
	display:block;
	z-index:99;
	
}
#addwindow {
	height:400px;
	width:300px;
	position:absolute;
	right:100px;
	top:200px;
	background-color:#000;	
	display:block;
	z-index:99;
}