@charset "UTF-8";
/* CSS Document */
#wrapper { position: relative; }
#sidebar {
    float:left;
    height:100%;
    position:fixed;
    background-color:#000;
	color:#FFF;
    width:200px;
    display:block;
	margin-left: -250px;
	opacity:0.8;
}
.in {
	margin-left: 0px !important;
	transition: all 1s ease-in-out;
}
.out {
	margin-left:-250px !important;
	transition: all 1s ease-in-out;	
}
#over_map { 
	position: absolute; 
	top: 10px; 
	left: 10px; 
	z-index: 99; 
	}
	
	#map-canvas {
   height:600px;
	 
}
#add {
	height:40px;
	width:100px;
	position:absolute;
	right:10px;
	bottom:20px;
	display:block;
	z-index:99;
	
}
#addwindow {
	height:400px;
	width:300px;
	position:absolute;
	right:100px;
	top:200px;
	background-color:#000;	
	display:block;
	z-index:99;
}